{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> WELCOME TO HOSPITAL MANAGEMENT  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>

  #welcometohospitalmanagement {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
 
 
  .fakeimg {
    height: 100px;
   background:#aaa;
  }
  #ndmyNavbar{
    background-color:red;

  }
    
 </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0" style='bgcolor:red'>
  <h1 style='color:red' id="welcometohospitalmanagement" > WELCOME TO HOSPITAL MANAGEMENT </h1>
  <p style='color:blue'>life is beautiful </p>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li class="active"><a href="#">Wish</a></li>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>  

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2 style='color:red'>patients profile_pick</h2>
      <h5 style='color:blue'>Photo of patients:</h5>
      <img src="{% static 'images/patisent.jpg' %}" class="img-fluid" alt="Responsive image">
      <h3 style='color:green'>HOSPITAL_ResptionRoom<h3>
      <img src="{% static 'images/res1.jpg' %}" class="img-fluid" alt="Responsive image">
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
 
    <div class="col-sm-8">
      <h2 style='color:cyan'> Doctor profile_picks</h2>
      <h5 style='color:blue'>Doctor joinig, Dec 7, 2017</h5>
       <img src="{% static 'images/doctor.jpg' %}" class="img-fluid" alt="Responsive image">
       <img src="{% static 'images/doctor3.jpg' %}" class="img-fluid" alt="Responsive image">
      <br>
      <h2 style='color:red'>ICU_Rooms</h2>
           
      <img src="{% static 'images/img.jpg' %}" class="img-fluid" alt="Responsive image">
      <img src="{% static 'images/img1.jpg' %}" class="img-fluid" alt="Responsive image"> 
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    
    </div>
   <div class="jumbotron text-center" style="margin-bottom:0">
  <p> &copy; copyrights reserved by Rajababu</p>
  
   </ul>
      </div>
    </div>
       
      </ul>
    </div>
  </div>
</nav>  
 

</body>
</html>

 
  
   
    
  



