<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login form</title>
</head>
<body>
<div class="jumbotron">
<form action="{% url 'login' %}" method='POST'>
{% csrf_token %}
User_Name : <input type="text" name="username" placeholder="Enter User Name">
Password : <input type="password" name="password" placeholder="Enter Password">
<input type="submit" value="Upload">
</form>
</div>
</body>
</html>